# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
env/
venv/
ENV/

# Tests & Coverage
tests/
.pytest_cache/
.coverage
htmlcov/

# Local configuration & secrets
.env
.env.*
!.env.example

# IDEs & System files
.git/
.gitignore
.DS_Store
.idea/
.vscode/
*.log
